


<div class="card">
    <div class="card-header">
        <h6 class="card-title">Productos</h6>
    </div>
    <div class="card-body">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" style="margin: 10px;" onclick="abrirModal(null)">
            Crear Nuevo
        </button>

        <table id="tabla" class="table w-100">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white">Usuario</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtId" type="hidden" value="0" />

                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="txtNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtNombre" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtPrecio" class="form-label">Precio</label>
                        <input type="number" step="0.01" class="form-control" id="txtPrecio" autocomplete="off">
                    </div>
                    
                    <div class="col-sm-6">
                        <label for="txtCantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="txtCantidad" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboProveedor" class="form-label">Proveedor</label>
                        <select id="cboProveedor" class="form-select">

                        </select>
                    </div>
                </div>               

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var dataTabla;
        var filaSeleccionada;

        dataTabla = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                 url: "@Url.Action("ObtenerProducto", "Producto")",
                 type: "GET",
                dataType: "json",
                contentType: "application/json"
            },
            "columns":
                [
                    { "data": "Nombre"},
                    { "data": "Precio" },
                    { "data": "Cantidad" },
                    { "data": "Total" },
                    {
                        "defaultContent": "<button type='button' class='btn btn-primary btn-sm btn-editar'><i class='fa fa-pen'></i></button>" +
                            "<button type='button' class='btn btn-danger btn-sm ms-2 btn-eliminar'><i class='fa fa-trash'></i></button>",
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });


        jQuery.ajax({
            url: "@Url.Action("ObtenerProveedores", "Proveedor")",
            type: "GET",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccione").appendTo("#cboProveedor");
                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.Idprovedor }).text(valor.Nombre).appendTo("#cboProveedor");
                })
            },
            error: function (error) {
                console.log(error);
            }
        });


        function abrirModal(json) {
           $("#txtId").val(0);
            $("#txtNombre").val("");
            $("#txtPrecio").val("");
            $("#txtCantidad").val("");
            $("#cboProveedor").val("");

            if (json != null) {
                $("#txtId").val(json.Idproducto);
                $("#txtNombre").val(json.Nombre);
                $("#txtPrecio").val(json.Precio);
                $("#txtCantidad").val(json.Cantidad);
                $("#cboProveedor").val(json.Provedor);
            }

            $("#formModal").modal("show");
        }

        $("#tabla tbody").on("click", ".btn-editar", function () {
            filaSeleccionada = $(this).closest("tr");
            var datos = dataTabla.row(filaSeleccionada).data();
            abrirModal(datos);
        });

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            filaSeleccionada = $(this).closest("tr");
            var datos = dataTabla.row(filaSeleccionada).data();
            let urlEliminar = '@Url.Content("~/Producto/EliminarProducto?Id=")' + datos.Idempleado;
            var confirmar = confirm("Esta seguro que desea eliminar este registro")

            if (confirmar) {
                //document.location.href = '@Url.Content("~/Producto/EliminarProducto?Id=")' + datos.Idempleado;

                jQuery.ajax({
                    url: urlEliminar,
                    data: {
                        Id: datos.Idproducto
                    },
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {
                        if (data.resultado) {
                            alert("Eliminado con exito");
                            dataTabla.row(filaSeleccionada).remove().draw(false)
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })

            }
        });

          function Guardar() {

              var producto = {
                  Idproducto: $("#txtId").val(),
                  Nombre: $("#txtNombre").val(),
                  Precio: $("#txtPrecio").val(),
                  Provedor: $("#cboProveedor option:selected").val(),
                  Cantidad: $("#txtCantidad").val(),
                  Total: $("#txtCantidad").val() * $("#txtPrecio").val()
              };

              console.log(producto.Provedor)

            jQuery.ajax({
                url: "@Url.Action("GuadarProducto", "Producto")",
                type: "POST",
                data: JSON.stringify(producto),
                dataType: "json",
                contentType: "application/json; charset= utf-8 ",
                success: function (data) {

                    let resultado = data.resultado;

                    console.log(resultado)
                  $(".modal-body").LoadingOverlay("hide");
                    //empleado nuevo
                    if (producto.Idproducto == 0) {
                        if (resultado != 0) {
                            producto.Idproducto = resultado;
                            dataTabla.row.add(producto).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text();
                            $("#mensajeError").show();
                        }
                    }
                    //empleado editar
                    else {
                        if (resultado) {
                            dataTabla.row(filaSeleccionada).data(producto).draw(false);
                            filaSeleccionada = null;
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {

                    console.log(error)
                  $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                  $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                },
            });
        }
    </script>
}



